*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
    color: rgb(0, 255, 13);
    background-color: #292929;
}
      

#logo {
    width: 120px;
    height: 120px;
    padding-left: 5%;
}

.cabecalho {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    color: rgb(0, 255, 13);
    background-color: #292929;
    margin-left: 5%;
    margin-right: 5%;
}

#menusuperior ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    color: rgb(0, 255, 13);
}

#menusuperior li {
    display: inline-block;
    margin-left: 20px;
}

#menusuperior {
    text-align: right;
    margin-top: 8%;
}

a {
    color: rgb(0, 255, 13);
}

.parte1{
    grid-template-columns: 50% 50%;
    display: grid;
}

.apresentacao{
    margin-top: 25px;
    text-align: auto;
    padding-left: 5%;
    line-height: 1.3; 
    display: flexbox;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#coveronphone {
    width: 78%;
    margin: 5%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    box-shadow: 10px 15px 20px rgba(0, 255, 13, 1); 
    display: grid;
    grid-template-columns: auto;

}

#pageonphone {
    display: none;
    visibility: hidden;
    margin-left: 5%;
    margin-right: 15%;
}

#form {
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

input {
    width: 85%;
    height: 30px;
    background-color: azure;
    margin: 5px;
    margin-left: 10px;
    margin-top: 15px;
    border: rgb(0, 255, 13);
    border-radius: 15px 15px;
    padding-left: 20px;
}

button {
    background-color: rgb(0, 255, 13);
    color: #292929;
    width: 85%;
    height: 40px;
    margin: 25px;
    margin-top: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px 15px;
}

#motivos{
    color: #ff9900;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

button:hover {
    background-color: #ff9900;
    color: #ffffff ;
    transform: translateY(8px);
    box-shadow: 0px 15px 20px #292929;
    transition-duration: 0.5s;
    margin-left: 5%;
    margin-right: 5%;
}

#sabermais {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    width: 85%;
    height: 40px;
    margin: 25px;
    margin-top: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px 15px;
}

button:hover #sabermais {
    background-color: #ff4242;
    color: #ffffff ;
    transform: translateY(8px);
    box-shadow: 0px 15px 20px #292929;
    transition-duration: 0.5s;
}

#red1 {
    color:rgb(255, 0, 0);
    text-align: center;
}

#red2 {
    color:rgb(255, 0, 0);
    text-align: center;
}

#afiliados {
    background-color: blue;
    color: #ff9900;
    text-align: center;
    margin: 0 0 0 0 ;
}


#textofinal {
    color: #ffffff;
    padding-top: 20px;
}

@media (max-width: 768px) {
   
    .apresentacao {
        display: -moz-box;
        align-self: auto;
    }

    #form , phonemockup {
        max-width: 100%;
    }

    #coveronphone {
        width: 100%;
    }
}